@page "/"

<PageTitle>Customers</PageTitle>

<Row>
    <Column>
        <Alert TextColor="@TextColor.Danger" Visible="@HasError">@_errorMessage</Alert>
    </Column>
</Row>

<Row>
    <Column>
        <DataGrid TItem="Customer"
                  Data="@_items"
                  TotalItems="@_totalItems"
                  ReadData="@OnReadData"
                  ShowPager="@true"
                  ShowPageSizes="@true"
                  Responsive="@true"
                  Sortable="@false"
                  @bind-PageSize="@_pageSize"
                  PageSizes="@_pageSizes"
                  PagerPosition="@DataGridPagerPosition.TopAndBottom">
            <DataGridColumns>
                <DataGridNumericColumn TItem="@Customer" Field="@nameof(Customer.Id)"/>
                <DataGridColumn TItem="@Customer" Field="@nameof(Customer.GivenName)"/>
                <DataGridColumn TItem="@Customer" Field="@nameof(Customer.Lastname)"/>
                <DataGridColumn TItem="@Customer" Field="@nameof(Customer.Description)"/>
                <DataGridNumericColumn TItem="@Customer" Field="@nameof(Customer.Id)">
                    <DisplayTemplate>
                        <Button Type="@ButtonType.Button" Color="@Color.Primary">
                            <Icon Name="@IconName.MoneyBillAlt"/> Show billing info
                        </Button>
                    </DisplayTemplate>
                </DataGridNumericColumn>
            </DataGridColumns>
            <LoadingTemplate>
                <SpinKit Type="@SpinKitType.Circle"/>
            </LoadingTemplate>
        </DataGrid>
    </Column>
</Row>
